body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5em;

}

.site {
    line-height: 1.7em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    max-width: 1200px;
    margin: 0 auto;
}


header {

    position: relative;
    text-align: center;
    width: 100%;
}

h2 {
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto 28px;
}

h3 {
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 28px auto 28px;
}





.base03 {
    background-color: #002b36;
}

.base02 {
    background-color: #073642;
}

.base01 {
    color: rgb(240, 240, 240);
}

.base00 {
    color: #657b83;
}

.orange {
    color: #cb4b16;
}

.red {
    color: #dc322f;
}

.magenta {
    color: #d33682;
}

.violet {
    color: #6c71c4;
}

.blue {
    color: #268bd2;
}

.cyan {
    color: #2aa198;
}

.green {
    color: #859900;
}

.yellow {
    color: #b58900;
}


.menu ul {
    padding: 0;
    margin-block-start: 0;
    margin: auto;
    text-align: center;
    
}

.menu li{
    display: inline-block;
    list-style: none;
    margin: auto;
}

.menu a{
    text-decoration: ;
}

#nicepic{
    margin: auto auto;
    margin-top: 3em;
    display: block;
}

#pictureit{
    margin: auto auto;
    margin-top: 3em;
    display: block;
    max-height: 400px;
}


.lernunterlagen li{
    list-style: none;
    margin: auto;
}

h2.nachhilfeonline {
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto 28px;
}



