body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
p, ul {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  body {
      padding: 10px;
  }
}